@import "tailwindcss";

@theme {
  --font-sans: Inter, sans-serif;
}

:root {
  font-feature-settings:
    "liga" 1,
    "calt" 1;
}

@supports (font-variation-settings: normal) {
  :root {
    --font-sans: InterVariable, sans-serif;
  }
}
